div {
	width: 240px;
    height: 100px;
    padding: 10px;
    border: 10px solid rgb(0, 0, 0);
    margin: 0;
    display: inline-block;
    text-align: center;
    background: white;
    border-radius: 15px;
    font-size: 100px;
    font-family: "Impact", serif;
}

h2{
    text-align: center;
    font-family: "Impact", serif;
    font-size: 100px;

}
 body{
    background: rgba(255, 219, 88, 0.901);
 }
 
 button {
  font-family: "Impact", serif;
  background-color: black; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} 